%button{
  type: "button",
  data: {
    voice_recorder_target: "button",
    action: "click->voice-recorder#toggleRecording"
  }
}
  %span Record Voice Entry
%div#voice-feedback{ data: { voice_recorder_target: "status" } }
