%div#data
  %h2 Totals
  .row
    .col-sm-6
      .card.text-dark.bg-light
        .card-body
          %h5.card-title Total Spending
          %p.card-text= number_to_currency(@data.total_spending)
    .col-sm-6
      .card.text-dark.bg-light
        .card-body
          %h5.card-title Total Income
          %p.card-text= number_to_currency(@data.total_income)
  %hr
  %h2 Categories
  .row.rows-cols-auto.g-2
    - @data.category_totals.each do |category, total|
      .col
        .card.text-dark.bg-light
          .card-body
            %h5.card-title= category
            %p.card-text= number_to_currency(total)
  %hr
  %h2 Charts
  %input{ type: 'submit', name: 'commit', value: 'Pie Chart', class: 'btn btn-primary', formaction: '/turbo_charts/pie_chart', form: 'data_form' }
  %input{ type: 'submit', name: 'commit', value: 'Total by Category Bar Chart', class: 'btn btn-primary', formaction: '/turbo_charts/bar_chart', form: 'data_form' }
  %input{ type: 'submit', name: 'commit', value: 'Total Expense By Month', class: 'btn btn-primary', formaction: '/turbo_charts/total_by_month_bar_chart', form: 'data_form' }

  %div#chart
